@media (max-width: 1200px) {
    main{
        padding:1.5em;
    }

    .notes {
        max-height: 550px; /* Set a max height */
        overflow: auto;
        grid-template-columns: 1fr;
        padding: 1em;
    }

    .notes-menu {
        grid-template-columns: repeat(3, 250px);
        padding: 0;;
    }
    .notes {
        grid-template-columns: repeat(2, 1fr);
    }

  
}

@media (max-width: 800px) {
    .notes {
        max-height: 450px; /* Set a max height */
        overflow: auto;
        grid-template-columns: 1fr;
    }

    .notes-menu {
        grid-template-columns: 1fr;
    }

    .noteItem {
        padding: 1em;
    }
}

@media (max-width: 500px) {
    main {
        padding : 1em;

    }
    body {
        font-size: 0.9em;
    }

    .note-container{
        overflow: auto;
    }

    .notes-menu{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0 0.5em;
    }

    .noteItem{
        overflow: auto;
    }

}