body {
  background-color: rgb(0, 0, 0);
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1em;
  color: #fffffe;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 1em 3rem; /* Add padding to the left and right */
  margin-bottom: 1em;
}

.note-container {
  display: flex;
  flex-direction: column;
}

.notes-menu {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 250px);
  align-items: center;
  justify-content: space-around;
  border: 1px solid #504e4e;
  border-radius: 10px;
  margin-bottom: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  justify-content: center;
  padding: 2em;
  gap: 20px;
  border: 1px solid #504e4e;
  border-radius: 10px;
  align-items: stretch; /* Stretch items to fill the grid cell */
}

.notes-menu p {
  text-align: center;
}

.noteItem {
  display: flex; /* Use flex to align content inside */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between;
  border: 1px solid #504e4e;
  overflow: auto;
}

.noteTitle {
  padding: 1em;
  border-bottom: 3px solid #504e4e;
}

.noteBody {
  padding: 1em;
}

.note-creation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.noteCreatedAt,
.noteArchived {
  text-align: end;
  padding: 0.5em;
}

.noteTitle {
  display: flex;
  justify-content: space-between;
}

#deleteIcon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
