body {
  background-color: rgb(0, 0, 0);
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1em;
  color: #fffffe;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 1em 3rem; /* Add padding to the left and right */
  margin-bottom: 1em;
}

.note-container {
  display: flex;
  flex-direction: column;
}

.notes-menu {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 250px);
  align-items: center;
  justify-content: space-around;
  border: 1px solid #504e4e;
  border-radius: 10px;
  margin-bottom: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  justify-content: center;
  padding: 2em;
  gap: 20px;
  border: 1px solid #504e4e;
  border-radius: 10px;
  align-items: stretch; /* Stretch items to fill the grid cell */
}

.notes-menu p {
  text-align: center;
}

.noteItem {
  display: flex; /* Use flex to align content inside */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between;
  border: 1px solid #504e4e;
  overflow: auto;
}

.noteTitleGroup {
  padding: 1em;
  border-bottom: 3px solid #504e4e;
  align-items: center;
}

.noteTitle {
  flex-grow: 1;
}

.noteBody {
  padding: 1em;
}

.note-creation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.noteCreatedAt,
.noteArchived {
  text-align: end;
  padding: 0.5em;
}

.addNote {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 35px;
}

.noteTitleGroup {
  display: flex;
  justify-content: space-between;
}

#deleteIcon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
}

.end-container {
  margin-top: 15px;
  padding: 1em;
  border: 1px solid #504e4e;
  border-radius: 10px;
}

/* handling animejs loading */
.spinner {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px;
}

#archiveSelect {
  background-color: #7f5af0;
  border-radius: 5px;
  border: 0;
  color: #fffffe;
  padding: 0.8em;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 1em;
}

.select-group {
  width: 100%;
}

#archiveSelect option {
  text-align: center;
}

.isArchived {
  padding: 1em;
  width: 25%;
  border-radius: 0.3em;
  border: 0;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.isArchived:hover {
  background-color: rgb(0, 0, 0);
  transition: rgb(0, 0, 0) 0.5s ease-in-out;
  -webkit-transition: rgb(0, 0, 0) 0.5s ease-in-out;
  -moz-transition: rgb(0, 0, 0) 0.5s ease-in-out;
  -ms-transition: rgb(0, 0, 0) 0.5s ease-in-out;
  -o-transition: rgb(0, 0, 0) 0.5s ease-in-out;
}
